//colores
$color-blanco: #f8f8ff;
$color-negro: #000000;
$color-naranja: #d67f0e;
$color-grisfooter: #c1c1c0;

//tipografías
$font-titulos:"Barlow Condensed", sans-serif;
$font-detalles: "Alegreya Sans SC", sans-serif;
$font-cuerpo: "Overpass", sans-serif;

//variables del proyeto